<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

        body {
            display: flex;
            background-image: url("../public/img/fundo.png");
            background-size: cover;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
            color: #E1DCD0;
        }

        @media (max-width: 800px) {
            #divLogin {
                width: 40%;
                height: 75%;
            }
        }
    </style>

</head>
<body>

    <div id="divLogin">
        <table>
            <tr>
                <td><img src="../public/img/mutuo_fundo.png" height="80px"></td>
                <td><h1>Mútuo</h1></td>
            </tr>
            <!--<tr><td><h2>Adm</h2></td></tr>-->
        </table>

        <br><br>

        <div id="formLogin">
            <form>
                <label>Login:</label><br>
                <input type="text" id="login" placeholder="  Login" required autofocus>
                <br><br>
                <label>Senha:</label><br>
                <input type="password" id="senha" placeholder="  Senha" required>
                <br><br><br>
                <!--<input type="button" id="logar" value="Login" width="200px">-->
                <button id="logar" type="button">Login</button>
            </form>
        </div>
    </div>

    <link rel="stylesheet" href="../../node_modules/sweetalert2/dist/sweetalert2.min.css">

    <!--<script src="../../renderer.js"></script>-->
    <script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script>

        document.getElementById('logar').addEventListener('click', async () => {
            const loginValue = document.getElementById('login').value;
            const senhaValue = document.getElementById('senha').value;
            if(!loginValue || !senhaValue) {
                Swal.fire({
                    icon: 'warning',
                    title: 'Ops...',
                    text: 'Preencha o Login e a Senha para continuar!',
                    confirmButtonText: 'Entendi',
                    confirmButtonColor: '#3a5a40',
                    heightAuto: false
                });
            } else {
                try {
                    const loginValido = await window.api.validarLogin(loginValue, senhaValue);

                    if (loginValido) {

                        await Swal.fire({
                            icon: 'success',
                            title: 'Sucesso',
                            text: 'Login foi realizado com sucesso. Você será redirecionado para a página inicial',
                            confirmButtonText: 'OK',
                            confirmButtonColor: '#3a5a40',
                            heightAuto: false
                        });
                        const login = document.getElementById('login').value;
                        localStorage.setItem('usuarioLogado', login);
                        window.api.abrirJanelaInicio();
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Login Falhou',
                            text: 'Login ou senha incorretos. Tente novamente.',
                            confirmButtonText: 'OK',
                            confirmButtonColor: '#3a5a40',
                            heightAuto: false
                        });
                    }
                } catch (error) {
                    console.error('Erro ao tentar validar login:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Erro no Sistema',
                        text: 'Ocorreu um erro inesperado ao tentar logar.',
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#3a5a40',
                        heightAuto: false
                    });
                }
            }
        });
    </script>

</body>
</html>