
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Contet-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <title>Início</title>
    <script src="tema.js"></script>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    

    <style>

        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

        body {
            display: flex;
            height: 100vh;
            background-color: #E1DCD0;
            overflow-y: hidden;
            padding: 10px;
        }

        @media (max-width: 1000px) or (max-height: 680px) {
            #barra-lateral {
                font-size: 12px;
                width: 30% !important;
            }

            #sair {
                width: 100px;
            }

            #nomeAdm {
                font-size: 12px;
            }

            #emailAdm {
                font-size: 10px;
            }

            #navbar {
                width: 100%;
            }

            .col-titulo, .col-texto {
                font-size: 15px !important;
            }

            h2 {
                font-size: 20px;
            }

            #search {
                width: 180px;
                height: 25px;
            }

            #mutuo {
                font-size: 20px;
            }

            #tabela {
                /*width: 90%;*/
                font-size: 12px;
            }

            #divTabela {
                height: 37vh !important;
                width: 65.5vw;
            }

            .col {
                height: 18vh !important;
            }

            .icone-barra {
                height: 14px;
            }
        }

    </style>
</head>
<body class="m-0 light" id="pagina">

    <div class="wrapper fw-bold" id="barra-lateral">
        <a href="inicio.html"><span class="btn_barra"><img src="../public/img/dashboard.png" class="icone-barra">Início</a><br><hr>
        <a href="usuarios.html"><span class="btn_barra"><img src="../public/img/usuarios.png" class="icone-barra">Usuários</span></a><br><hr>
        <a href="ongs.html"><span class="btn_barra"><img src="../public/img/ongs.png" class="icone-barra">ONGS</span></a><br><hr>
        <a href="#"><span class="btn_barra" style="background-color: #b7ce8fb3;"><img src="../public/img/servicos.png" class="icone-barra">Serviços</span></a><br><hr>
        <a href="solicitacoes.html"><span class="btn_barra"><img src="../public/img/notificacao.png" class="icone-barra">Solicitações</span></a><br><hr>
        <a href="premium.html"><span class="btn_barra"><img src="../public/img/premium.png" class="icone-barra">Premium</span></a><br>
        <hr>
        <table>
            <tr>
                <td rowspan="2"><img src="../public/img/A.png"></td>
                <td id="nomeAdm">Admin</td>
            </tr>
            <tr>
                <td style="font-weight: 300;" id="emailAdm">admin@email.com</td>
            </tr>
        </table>
        <button id="sair" type="button">Sair</button>
    </div> 

    <div id="main-area">

        <nav class="navbar" id="navbar">
            <div class="container-fluid align-items-center">
                <a class="navbar-brand d-flex align-items-center"><img src="../public/img/mutuo_fundo.png" alt="Logo" width="40" height="40" class="d-inline-block"><span id="mutuo">Mútuo</span></a>
                <form class="d-flex mx-auto w-50" role="search">
                    <input class="form-control me-2" id="search" type="search" placeholder="Buscar por Serviço" aria-label="Search"/>
                </form>
                <div class="navbar-nav ms-auto d-flex flex-row gap-3 align-items-center">
                    <a class="nav-link active" id="tema" aria-current="page" href="#"><img id="img-tema" src="../public/img/escuro.png" height="25px"></a>
                    <a class="nav-link" href="perfil.html"><img src="../public/img/perfil.png" height="30px"></a>
                </div>
            </div>
        </nav>

        <div id="dashboard">
            <h2>Gerenciamento de Serviços</h2>
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <span class="col-titulo">Realizados</span>
                        <br>
                        <span class="col-texto"><img src="../public/img/realizada.png" height="25px" class="icone_card"><span id="totalServico"></span>
                    </div>
                    <div class="col">
                        <span class="col-titulo">Cadastrados</span>
                        <br>
                        <span class="col-texto"><img src="../public/img/cadastro.png" height="25px" class="icone_card"><span id="totalServicoCadastrado"></span></span>
                    </div>
                    <div class="col">
                        <span class="col-titulo">Nota Média</span>
                        <br>
                        <span class="col-texto"><img src="../public/img/nota.png" height="25px" class="icone_card"><span id="mediaNota"></span></span>
                    </div>
                </div>
            </div>
            <br>
            <div id="divTabela">
                <table id="tabela">
                    <thead>
                        <tr>
                            <th>Serviço</th>
                            <th>Criador</th>
                            <th>Área</th>
                            <th>Horas</th>
                            <th>Status</th>
                            <th>Nota</th>
                            <!--<th>Voluntários</th>-->
                        </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
            </div>
        </div>
        
    </div>


    <link rel="stylesheet" href="../../node_modules/sweetalert2/dist/sweetalert2.min.css">

    <!--<script src="../../renderer.js"></script>-->
    <script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script>

        const totalS = document.getElementById('totalServico');
        const totalC = document.getElementById('totalServicoCadastrado');
        const totalM = document.getElementById('mediaNota');
        const tbody = document.getElementById('tbody'); 
        let listaServicos = [];

        window.addEventListener('DOMContentLoaded', async () => {

            let servico = 0;
            let cadastrado = 0;
            let nota = 0;

            try {
                servico = await window.api.totalServicos();
                totalS.innerHTML = servico;
            }
            catch (error){
                console.error('Erro ao buscar total de serviços realizados', error);
                totalS.textContent = 'Erro!';
            }

            try {
                cadastrado = await window.api.totalServicosCadastrados();
                totalC.innerHTML = cadastrado;
            }
            catch (error) {
                console.error('Erro ao buscar total de serviços cadastrados', error);
                totalC.textContent = 'Erro!';
            }

            try {
                nota = await window.api.mediaNotas();
                const notaFormatada = parseFloat(nota).toFixed(1);
                totalM.innerHTML = notaFormatada + ' / 5';
            }
            catch (error) {
                console.error('Erro ao buscar total de problemas', error);
                totalM.textContent = 'Erro!';
            }

            carregarTabela();
        });

        async function carregarTabela() {
            tbody.innerHTML = '<tr><td colspan="7">Carregando...</td></tr>';

            try {
                //const servicos = await window.api.buscarServicos();
                //if (servicos.error) throw new Error(servicos.error);

                listaServicos = await window.api.buscarServicos();
                renderizarTabela(listaServicos);
            }
            catch (err) {
                console.error("Erro ao buscar serviços:", err);
                tbody.innerHTML = `<tr><td colspan="7">Erro ao carregar dados: ${err.message}</td></tr>`;
            }
        }

        function renderizarTabela(servicos) {
            tbody.innerHTML = '';

            if (servicos.length === 0) {
                tbody.innerHTML = `<tr><td colspan="8">Nenhum serviço encontrado</td></tr>`;
                return;
            }

            for (const servico of servicos) {
                    const linha = document.createElement('tr');
                    linha.setAttribute('data-cod', servico.cod);

                    linha.innerHTML = `
                        <td class="tdTabela">${servico.nome}</td>
                        <td class="tdTabela">${servico.nomeCriador}</td>
                        <td class="editavel tdTabela" data-coluna="foco" data-valor="${servico.foco}">${servico.foco}</td>
                        
                        <td class="editavel tdTabela" data-coluna="horas" data-valor="${servico.qtdHoras}">${servico.qtdHoras}</td>
                        <td class="editavel tdTabela" data-coluna="ativo" data-valor="${servico.ativo}">${servico.ativo}</td>
                        <td class="editavel tdTabela" data-coluna="nota" data-valor="${servico.avaliacao}">⭐${servico.avaliacao}</td>
                        
                        <td data-tipo="acoes" style="width: 70px;">
                            <button id="salvar" class="save-btn" style="display: none;">Salvar</button>
                        </td>
                    `;
                    tbody.appendChild(linha);
            }
        }

        tbody.addEventListener('dblclick', (e) => {
            if (e.target.classList.contains('editavel')) {
           
                if (document.querySelector('.save-btn[style*="inline-block"]')) {
                    alert("Salve a linha que já está em edição primeiro.");
                    return;
                }
                const tr = e.target.closest('tr');
                switchToEditMode(tr);
            }
        });

        function switchToEditMode(tr) {

            const tdHoras = tr.querySelector('td[data-coluna="horas"]');
            const tdFoco = tr.querySelector('td[data-coluna="foco"]');
            const tdAtivo = tr.querySelector('td[data-coluna="ativo"]');
            const tdNota = tr.querySelector('td[data-coluna="nota"]');
            
            const tdAcoes = tr.querySelector('td[data-tipo="acoes"]');

            const valAtivo = tdAtivo.dataset.valor;
            const valHoras = tdHoras.dataset.valor;
            const valFoco = tdFoco.dataset.valor;
            const valNota = tdNota.dataset.valor;

            tdAtivo.innerHTML = `<input type="number" min="0" max="1" class="edit-input" data-coluna="ativo" value="${valAtivo}">`;
            tdHoras.innerHTML = `<input type="number" min="0" class="edit-input" data-coluna="horas" value="${valHoras}">`;
            tdFoco.innerHTML = `<input type="text" id="input-text" class="edit-input" data-coluna="foco" value="${valFoco}">`;
            tdNota.innerHTML = `<input type="number" min="0" max="5" class="edit-input" data-coluna="nota" value="${valNota}">`;

            const saveBtn = tdAcoes.querySelector('.save-btn');
            saveBtn.style.display = 'inline-block';
        }

        tbody.addEventListener('click', async (e) => {
     
            if (e.target.classList.contains('save-btn')) {
                
                const tr = e.target.closest('tr');
                const cod = tr.dataset.cod;

                const newAtivo = tr.querySelector('input[data-coluna="ativo"]').value;
                const newHoras = tr.querySelector('input[data-coluna="horas"]').value;
                const newFoco = tr.querySelector('input[data-coluna="foco"]').value;
                const newNota = tr.querySelector('input[data-coluna="nota"]').value;

                try {
                    const resultado = await window.api.editarServico(cod, newAtivo, newHoras, newFoco, newNota);
                    
                    if (resultado.error) {
                        throw new Error(resultado.error);
                    }

                    await carregarTabela();
                    
                } catch (err) {
                    alert("Erro ao salvar: " + err.message);
                }
            }
        });

        const buttonSair = document.getElementById('sair');

        buttonSair.addEventListener('click', () => {
            window.api.abrirJanelaLogin();
        });

        const inputBusca = document.getElementById('search');

        let timeout;

        inputBusca.addEventListener('input', function () {
            clearTimeout(timeout);

            timeout = setTimeout(() => {
                const texto = this.value.toLowerCase().trim();

                const filtrados = listaServicos.filter(servico =>
                    servico.nome.toLowerCase().includes(texto)
                );

                renderizarTabela(filtrados);
            }, 300); // delay = UX melhor
        });
    </script>
</body>
</html>