<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'; connect-src 'self' https://viacep.com.br http://localhost:3000; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com">
    <title>Início</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="tema.js"></script>

    <style>

        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

        body {
            display: flex;
            height: 100vh;
            background-color: #E1DCD0;
            overflow-y: hidden;
            padding: 10px;
            font-weight: 400;
            color: #344e41;
        }

        #divTabela {
            height: 43vh !important;
        }

        @media (max-width: 1000px) or (max-height: 680px) {
            #barra-lateral {
                font-size: 12px;
                width: 30% !important;
            }

            #sair {
                width: 100px;
            }

            #nomeAdm {
                font-size: 12px;
            }

            #emailAdm {
                font-size: 10px;
            }

            #navbar {
                width: 100%;
            }

            .col-titulo, .col-texto {
                font-size: 15px !important;
            }

            h2 {
                font-size: 20px;
            }

            #search {
                width: 180px;
                height: 25px;
            }

            #mutuo {
                font-size: 20px;
            }

            #tabela {
                width: 90%;
                font-size: 10px;
            }

            #divTabela {
                height: 37vh !important;
                width: 65.5vw;
            }

            .col {
                height: 18vh !important;
            }

            #btnAdicionar {
                font-size: 13px;
                width: 30%;
            }

            .icone-barra {
                height: 14px;
            }
        }

        #modalOverlay{
            position: fixed;
            inset: 0;
            /*background: rgba(0,0,0,0.45);*/
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
            opacity: 0;
            pointer-events: none;
            transition: opacity .25s ease;
        }

        #modalOverlay.ativo{
            opacity: 1;
            pointer-events: all;
        }

        #modalFormulario{
            /*background: white;*/
            width: 600px;
            max-height: 85vh;
            overflow-y: auto;
            padding: 30px;
            border-radius: 12px;
            box-shadow: 0 10px 40px rgba(0,0,0,0.2);
            transform: scale(.9);
            transition: transform .25s ease;
        }

        #modalOverlay.ativo #modalFormulario{
            transform: scale(1);
        }

    </style>
</head>
<body class="m-0 light" id="pagina">

    <div class="wrapper fw-bold" id="barra-lateral">
        <a href="inicio.html"><span class="btn_barra"><img src="../public/img/dashboard.png" class="icone-barra">Início</a><br><hr>
        <a href="#"><span class="btn_barra" style="background-color: #b7ce8fb3;"><img src="../public/img/usuarios.png" class="icone-barra">Usuários</span></a><br><hr>
        <a href="ongs.html"><span class="btn_barra"><img src="../public/img/ongs.png" class="icone-barra">ONGS</span></a><br><hr>
        <a href="servicos.html"><span class="btn_barra"><img src="../public/img/servicos.png" class="icone-barra">Serviços</span></a><br><hr>
        <a href="solicitacoes.html"><span class="btn_barra"><img src="../public/img/notificacao.png" class="icone-barra">Solicitações</span></a><br><hr>
        <a href="premium.html"><span class="btn_barra"><img src="../public/img/premium.png" class="icone-barra">Premium</span></a><br>
        <hr>
        <table>
            <tr>
                <td rowspan="2"><img src="../public/img/A.png"></td>
                <td><span id="nomeAdm"></span></td>
            </tr>
        </table>
        <button id="sair" type="button">Sair</button>
    </div> 

    <div id="main-area">

        <nav class="navbar" id="navbar">
            <div class="container-fluid align-items-center">
                <a class="navbar-brand d-flex align-items-center"><img src="../public/img/mutuo_fundo.png" alt="Logo" width="40" height="40" class="d-inline-block"><span id="mutuo">Mútuo</span></a>
                <form class="d-flex mx-auto w-50" role="search">
                    <input class="form-control me-2" id="search" type="search" placeholder="Buscar por Nome ou CPF" aria-label="Search"/>
                </form>
                <div class="navbar-nav ms-auto d-flex flex-row gap-3 align-items-center">
                    <a class="nav-link active" id="tema" aria-current="page" href="#"><img id="img-tema" src="../public/img/escuro.png" height="25px"></a>
                    <a class="nav-link" href="perfil.html"><img src="../public/img/perfil.png"  height="30px"></a>
                </div>
            </div>
        </nav>

        <div id="dashboard">
            <h2>Gerenciamento de Usuários</h2>
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <span class="col-titulo">Ativos</span>
                        <br>
                        <span class="col-texto"><img src="../public/img/usuarios_claro.png" height="25px" class="icone_card"><span id="totalUser"></span>
                    </div>
                    <div class="col">
                        <span class="col-titulo">Inativos</span>
                        <br>
                        <span class="col-texto"><img src="../public/img/inativo.png" height="25px" class="icone_card"><span id="totalInativo"></span></span>
                    </div>
                    <div class="col">
                        <span class="col-titulo">Total de Pontos</span>
                        <br>
                        <span class="col-texto"><img src="../public/img/pontos.png" height="25px" class="icone_card"><span id="totalPonto"></span></span>
                    </div>
                </div>
            </div>
            <br>
            <div id="botoes">
                <!--<button id="btnEditar"> Visualizar Usuário  </button>-->
                <button id="btnAdicionar">
                <span class="texto">+ Adicionar Usuário</span>
                <span class="icone">+</span>
                </button>
            </div>
            <div id="divTabela">
                <table id="tabela">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>CPF</th>
                            <th>Status</th>
                            <th>Pontos</th>
                            <th>Horas</th>
                            <th>Cadastro</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
            </div>
        </div>
        
    </div>

    <div id="modalOverlay">
        <div id="modalFormulario">
            <div id="modalConteudo"></div>
        </div>
    </div>


    <link rel="stylesheet" href="../../node_modules/sweetalert2/dist/sweetalert2.min.css">

    <!--<script src="../../renderer.js"></script>-->
    <script src="../../node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    
    <script>

        const totalU = document.getElementById('totalUser');
        const totalI = document.getElementById('totalInativo');
        const totalP = document.getElementById('totalPonto');
        const tbody = document.getElementById('tbody'); 
        const adicionar = document.getElementById('btnAdicionar');

        let listaUsuarios = [];

        window.addEventListener('DOMContentLoaded', async () => {

            const usuario = localStorage.getItem('usuarioLogado');

            if (usuario) {
                document.getElementById('nomeAdm').textContent = " " + usuario;
            }

            let user = 0;
            let inativo = 0;
            let ponto = 0;

            try {
                user = await window.api.totalUsuarios();
                totalU.innerHTML = user;
            }
            catch (error){
                console.error('Erro ao buscar total de usuários', error);
                totalU.textContent = 'Erro!';
            }

            try {
                inativo = await window.api.totalUsuariosInativos();
                totalI.innerHTML = inativo;
            }
            catch (error) {
                console.error('Erro ao buscar total de usuários inativos', error);
                totalI.textContent = 'Erro!';
            }

            try {
                ponto = await window.api.totalPontos();
                totalP.innerHTML = ponto;
            }
            catch (error) {
                console.error('Erro ao buscar total de pontos', error);
                totalP.textContent = 'Erro!';
            }

            carregarTabela();
        });

        async function carregarTabela() {
            tbody.innerHTML = '<tr><td colspan="8">Carregando...</td></tr>';

            try {
                //const usuarios = await window.api.buscarUsuarios();
                listaUsuarios = await window.api.buscarUsuarios();
                renderizarTabela(listaUsuarios);
                //if (usuarios.error) throw new Error(usuarios.error);
            }
            catch (err) {
                console.error("Erro ao buscar usuários:", err);
                tbody.innerHTML = `<tr><td colspan="8">Erro ao carregar dados: ${err.message}</td></tr>`;
            }
        }

        function renderizarTabela(usuarios) {
            tbody.innerHTML = '';

            if (usuarios.length === 0) {
                tbody.innerHTML = `<tr><td colspan="8">Nenhum usuário encontrado</td></tr>`;
                return;
            }

            for (const usuario of usuarios) {
                const linha = document.createElement('tr');
                linha.setAttribute('data-cpf', usuario.cpf);

                const dataFormatada = usuario.cadastro 
                    ? new Date(usuario.cadastro).toLocaleDateString('pt-BR') 
                    : 'N/A';

                linha.innerHTML = `
                    <td class="tdTabela">${usuario.nome}</td>
                    <td class="tdTabela">${usuario.email}</td>
                    <td class="tdTabela">${usuario.cpf}</td>

                    <td class="editavel tdTabela" data-coluna="ativo" data-valor="${usuario.ativo}">${usuario.ativo}</td>
                    <td class="editavel tdTabela" data-coluna="pontos" data-valor="${usuario.pontos}">🪙${usuario.pontos}</td>
                    <td class="editavel tdTabela" data-coluna="horas" data-valor="${usuario.horasVoluntarias}">${usuario.horasVoluntarias}</td>

                    <td class="tdTabela">${dataFormatada}</td>

                    <td data-tipo="acoes" style="width: 70px;">
                        <button id="salvar" class="save-btn" style="display: none;">Salvar</button>
                    </td>
                `;

                tbody.appendChild(linha);
            }
        }

        tbody.addEventListener('dblclick', (e) => {
            if (e.target.classList.contains('editavel')) {
           
                if (document.querySelector('.save-btn[style*="inline-block"]')) {
                    alert("Salve a linha que já está em edição primeiro.");
                    return;
                }
                const tr = e.target.closest('tr');
                switchToEditMode(tr);
            }
        });

        function switchToEditMode(tr) {

            const tdAtivo = tr.querySelector('td[data-coluna="ativo"]');
            const tdPontos = tr.querySelector('td[data-coluna="pontos"]');
            const tdHoras = tr.querySelector('td[data-coluna="horas"]');
            
            const tdAcoes = tr.querySelector('td[data-tipo="acoes"]');

            const valAtivo = tdAtivo.dataset.valor;
            const valPontos = tdPontos.dataset.valor;
            const valHoras = tdHoras.dataset.valor;

            tdAtivo.innerHTML = `<input type="number" min="0" max="1" class="edit-input" data-coluna="ativo" value="${valAtivo}">`;
            tdPontos.innerHTML = `<input type="number" class="edit-input" data-coluna="pontos" value="${valPontos}">`;
            tdHoras.innerHTML = `<input type="number" min="0" class="edit-input" data-coluna="horas" value="${valHoras}">`;

            const saveBtn = tdAcoes.querySelector('.save-btn');
            saveBtn.style.display = 'inline-block';
        }

        tbody.addEventListener('click', async (e) => {
     
            if (e.target.classList.contains('save-btn')) {
                
                const tr = e.target.closest('tr');
                const cpf = tr.dataset.cpf;

                const newAtivo = tr.querySelector('input[data-coluna="ativo"]').value;
                const newPontos = tr.querySelector('input[data-coluna="pontos"]').value;
                const newHoras = tr.querySelector('input[data-coluna="horas"]').value;

                try {
                    const resultado = await window.api.editarUsuario(cpf, newAtivo, newPontos, newHoras);
                    
                    if (resultado.error) {
                        throw new Error(resultado.error);
                    }

                    await carregarTabela();
                    
                } catch (err) {
                    alert("Erro ao salvar: " + err.message);
                }
            }
        });

        adicionar.addEventListener('click', () => {

            const modal = document.getElementById('modalOverlay');
            const conteudo = document.getElementById('modalConteudo');

            let ufUsuario = "";
            const dataCadastro = new Date().toISOString().split('T')[0];

            modal.classList.add('ativo');

            conteudo.innerHTML = `
                <div id="form-cadastro-usuario">
                <h3>Cadastro de Usuário</h3>
                <br>
                <form id="formUsuario">
                    <!-- Campo Nome -->
            <div class="mb-3">
                <label for="user-nome" class="form-label fw-bold">Nome</label>
                <input type="text" class="form-control" id="user-nome" style="height: 40px" required>
            </div>

            <!-- Divisão em colunas para CPF e Email -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="user-cpf" class="form-label fw-bold">CPF</label>
                    <input type="text" class="form-control" id="user-cpf" style="height: 40px" required placeholder="000.000.000-00">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="user-email" class="form-label fw-bold">Email</label>
                    <input type="email" class="form-control" id="user-email" style="height: 40px" required placeholder="exemplo@email.com">
                </div>
            </div>

            <!-- Divisão em colunas para Senha e Telefone -->
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="user-senha" class="form-label fw-bold">Senha</label>
                    <input type="password" class="form-control" id="user-senha" style="height: 40px" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="user-telefone" class="form-label fw-bold">Telefone</label>
                    <input type="tel" class="form-control" id="user-telefone" style="height: 40px" placeholder="(00) 00000-0000">
                </div>
            </div>

            <!-- Divisão em colunas para Data, Cidade e Bairro -->
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="user-cep" class="form-label fw-bold">CEP</label>
                    <input type="text" class="form-control" id="user-cep" style="height: 40px">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="user-cidade" class="form-label fw-bold">Cidade</label>
                    <input type="text" class="form-control" id="user-cidade" style="height: 40px">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="user-bairro" class="form-label fw-bold">Bairro</label>
                    <input type="text" class="form-control" id="user-bairro" style="height: 40px">
                </div>
            </div>

            <!-- Campo Endereço -->
            <div class="mb-3">
                <label for="user-endereco" class="form-label fw-bold">Endereço</label>
                <input type="text" class="form-control" id="user-endereco" style="height: 40px">
            </div>

            <!-- Campo Nascimento -->
            <div class="mb-3">
                <label for="user-nascimento" class="form-label fw-bold">Data de Nascimento</label>
                <input type="date" class="form-control" id="user-nascimento" style="height: 40px">
            </div>

            <hr class="mt-4 mb-4">

            <!-- Botões de Ação -->
            <div class="d-flex justify-content-end gap-2">
                <button type="button" class="btn btn-secondary" id="btn-cancelar">Cancelar</button>
                <button type="submit" class="btn btn-success" style="background-color: #588157; border-color: #588157;">Cadastrar Usuário</button>
            </div>
                </form>
                </div>
            `;

            // api cep -------------------------------------------------
            const cepInput = document.getElementById("user-cep");

            cepInput.addEventListener("blur", async () => {

                const cep = cepInput.value.replace(/\D/g, '');

                if (cep.length !== 8) return;

                try {

                    const resposta = await fetch(`https://viacep.com.br/ws/${cep}/json/`);
                    const dados = await resposta.json();

                    if (dados.erro) {
                        Swal.fire("CEP não encontrado");
                        return;
                    }

                    document.getElementById("user-cidade").value = dados.localidade;
                    document.getElementById("user-bairro").value = dados.bairro;
                    document.getElementById("user-endereco").value = dados.logradouro;

                    // salvar UF na variável
                    ufUsuario = dados.uf;

                } catch (erro) {
                    console.error("Erro ao buscar CEP:", erro);
                    Swal.fire("Erro ao buscar CEP");
                }
            });


            document.getElementById('btn-cancelar').addEventListener('click', () => {
                modal.classList.remove('ativo');
            });

            document.getElementById('modalOverlay').addEventListener('click', (e) => {
                if(e.target.id === 'modalOverlay'){
                    e.currentTarget.classList.remove('ativo');
                }
            });

            // *** AQUI: o form já existe no DOM, então pegamos e adicionamos listener ***
            const form = document.getElementById('formUsuario');
            if (!form) {
                console.error('formUsuario não encontrado mesmo após inserção!');
                return;
            }

            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                const usuario = {
                cpf: document.getElementById('user-cpf').value.trim(),
                nome: document.getElementById('user-nome').value.trim(),
                email: document.getElementById('user-email').value.trim(),
                senha: document.getElementById('user-senha').value.trim(),
                telefone: document.getElementById('user-telefone').value.trim(),
                cep: document.getElementById('user-cep')?.value.trim() || '',
                cidade: document.getElementById('user-cidade').value.trim(),
                bairro: document.getElementById('user-bairro').value.trim(),
                endereco: document.getElementById('user-endereco').value.trim(),
                nascimento: document.getElementById('user-nascimento').value, 
                uf: ufUsuario, 
                cadastro: dataCadastro
                };

                try {
                // Ajuste o nome aqui conforme seu preload: window.electronAPI ou window.api
                const resultado = await window.api.cadastrarUsuario(usuario);

                if (resultado && resultado.sucesso) {
                    Swal.fire('Sucesso!', 'Usuário cadastrado com sucesso!', 'success');
                    await carregarTabela();
                } else {
                    Swal.fire('Erro', resultado?.erro || 'Erro desconhecido', 'error');
                }
                } catch (err) {
                Swal.fire('Erro', err.message || 'Falha ao cadastrar', 'error');
                }
            });
        });

        const buttonSair = document.getElementById('sair');
        buttonSair.addEventListener('click', () => {
            localStorage.removeItem('usuarioLogado');
            window.api.abrirJanelaLogin();
        });

        const inputBusca = document.getElementById('search');

        let timeout;

        inputBusca.addEventListener('input', function () {
            clearTimeout(timeout);

            timeout = setTimeout(() => {
                const texto = this.value.toLowerCase().trim();

                const filtrados = listaUsuarios.filter(usuario =>
                    usuario.nome.toLowerCase().includes(texto) ||
                    usuario.cpf.includes(texto)
                );

                renderizarTabela(filtrados);
            }, 300); // delay = UX melhor
        });

    </script>
</body>
</html>